.search-cart li .user-panel.open .user-menu {
  transform: scaleY(1);
}

.search-cart li .user-menu {
  width: 200px;
  left: 0;
  top: 56px;
  background: #fff;
  z-index: 9999;
  padding: 10px;
  transform-origin: top;
  transform: scaleY(0);
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.search-cart li .user-menu .user-menu-item {
  width: 100%;
}

.search-cart li .user-menu .user-menu-item a {
  display: block;
  padding: 0 !important;
  outline: 2px solid #4e9b35;
  color: #4e9b35 !important;
  margin-top: 5px;
  background: none;
}

.search-cart li .user-menu .user-menu-item a:hover {
  background: #4e9b35;
}

.search-cart li .user-menu .user-menu-item a::after {
  background: #4e9b35;
}

.search-cart li .user-menu .user-menu-item a span {
  color: #4e9b35;
}

.search-cart li .user-menu .user-menu-item a:hover span {
  color: #fff;
}

.cart-content {
  max-height: 450px;
  overflow-y: scroll;
  background-color: #e7e5e5 !important;
}

.user-menu {
  background-color: #e7e5e5 !important;
}

.header-area {
  background-color: #1818181c;
}
.header-section .header-area.menu-fixed {
  background-color: #e7e5e5;
}

/* .logout-btn {
  width: 80px !important;
  background-color: red !important;
  border-radius: 5px;
  outline: none !important;
}
.logout-btn span {
  color: #fff !important;
  font-weight: 600 !important;
}
.logout-btn:hover {
  background-color: rgba(255, 153, 0, 0.884) !important;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
.cart-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cart-content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
